* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a, button, h1, h2, h3, h4 {
  color: rgb(40, 40, 40);
}

/* Navigation Bar */
nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 52px;
  background: rgba(255,255,255, 0.6);
  backdrop-filter: blur(10px);
  border-bottom: solid rgb(193, 193, 193) 1px;
  z-index: 10;
}

nav, a {
  text-decoration: none;
  color: black;
  font-size: .9rem;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  width: 950px;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-links a,
.nav-links button {
  margin-left: 1.5rem;
}

.nav-links a {
  font-size: .75rem;
  padding: 15px 0;
}

.middle-link {
  border-bottom: solid rgb(193, 193, 193) 1px;
  border-top: solid rgb(193, 193, 193) 1px;
}

.buy-button {
  margin-left: 1.5rem;
  padding: .1rem 1rem;
  font-size: 0.6;
  background: #0171e3;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.logo {
  font-size: 1.3125rem;
  font-weight: 500;
}

/* First Page */
.first-page {
  min-height: 850px;
  height: 100vh;
  padding: 0% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-page-text {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  min-width: 255px;
  width: 100%;
}

.first-page-title {
  font-size: 1.5rem;
}

.first-page-subtitle {
  font-size: 3rem;
}

.intro-video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Second Page */
.second-page {
  min-height: 125vh;
  color: rgba(255, 255, 255, .6);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.smoke-video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.second-text {
  padding: 5% 30%;
  position: relative;
  font-size: 3.5rem;
  font-weight: bold;
  z-index: 2;
}

/* Third Page - Phone Split */
.third-page {
  position: relative;
  padding: 0% 20%;
}

.product-text-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: white;
}

.phone-size {
  font-size: 2rem;
  font-weight: bold;
}

.pro-size {
  text-align: right;
}

.max-size {
  text-align: left;
}

.product-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.large-phone {
  position: relative;
  transform: translateX(40%) scale(.8);
  z-index: 1;
}

.small-phone {
  position: relative;
  transform: translateX(-40%) scale(.8);
  z-index: 2;
}

.retina-line {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  font-size: .8rem;
  font-weight: bold;
}

/* Fourth Page - Slider Left */
.fourth-page {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.purchase-left {
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.phone-gallery {
  display: flex;
  align-self: flex-start;
}

.phone-gallery img {
  transform: scale(.8);
}

.phone-gallery-container {
  min-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swatch-container {
  text-align: center;
}

.swatch-container span {
  font-size: .8rem;
}

.swatches img {
  padding: .5rem .3rem;
  cursor: pointer;
}

/* Fourth Page - Purchase Right */
.purchase-right {
  flex: 1;
  position: relative;
  background: #030203;
  background: -webkit-linear-gradient(to right, #1e1d1e, #030203);
  background: linear-gradient(to right, #1e1d1e, #030203);
}

.purchase-right img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%) scale(.8);
  transform-origin: bottom;
}

/* Fifth Page */

.fifth-page {
  min-height: 100vh;
}

.product-video {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.product-info-container {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
  padding: 0% 10rem;
}

.left-info, .right-info {
  width: 20%;
}

.left-info h3,
.right-info h3 {
  padding: 3rem 0rem;
  color: rgb(193, 193, 193);
}

.left-info span,
.right-info span {
  font-size: 1.5rem;
  color: rgb(215, 215, 215);
}

/* Sixth Page */

.sixth-page {
  min-height: 100vh;
  padding: 10% 20%;
  justify-content: space-between;
  position: relative;
  display: flex;
}

.portrait {
  height: 70vh;
}

.photo-title {
  font-size: 2rem;
}

.photo-subtitle {
  font-size: 4rem;
}

.phone-video {
  position: absolute;
  bottom: 0;
  left: 40%;
  z-index: 2;
  transform: translate(-40%, 0%);
}

.phone-video img, .phone-video video {
  position: absolute;
  bottom: 0rem;
}

.phone-video img {
  z-index: 2;
  bottom: 0;
  left: 0;
  transform: scale(.8);
}

.phone-video video {
  left: 1rem;
  bottom: 1rem;
  transform: scale(.8);
  border-radius: 2rem;
}

@media only screen and (max-width: 1920px) {
  nav {
    /* background: cyan; */
  }
}

@media only screen and (max-width: 1440px) {
  nav {
    /* background: orange; */
  }
}

@media screen and (max-width: 1280px) {
  nav {
    /* background: purple; */
  }
}

@media screen and (max-width: 1020px) {
  nav {
    /* background: lime; */
  }
}

@media screen and (max-width: 834px) {
  .desktop {
    display: none;
  }
  .chevron::before {
    margin-top: .4rem;
    border-style: solid;
    border-width: 0.13em 0.13em 0 0;
    border-color: rgb(70, 70, 70);
    content: '';
    display: inline-block;
    height: 0.5em;
    left: 0.16em;
    position: relative;
    top: 0.16em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.5em;
  }

  .chevron.bottom {
    top: 0;
    transform: rotate(180deg);
  }

  .mobile {
    position: fixed;
    top: 52px;
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(255,255,255, .6);
    background: black;
    backdrop-filter: blur(10px);
    z-index: 100;
    overflow: hidden;
    border-bottom: solid rgb(193, 193, 193) 1px;
  }

  .mobile a {
    opacity: 0;
    font-size: .85rem;
    margin-left: 2.5rem;
  }

  .mobile-nav-container {
    position: relative;
  }

  .cover {
    display: none;
    background: black;
    position: fixed;
    top: 208px;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    z-index: 9;
  }
}

@media screen and (max-width: 768px) {
  .intro-video {
    display: none;
  }
  .first-page {
    justify-content: flex-start;
    background-image: url('./images/iphone13Hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0% 10%;
  }
}

@media screen and (max-width: 400px) {
  .nav-content {
    justify-content: space-around;
  }
}

@media screen and (max-width: 320px) {
  .buy-button {
    margin-left: 1rem;
  }
}
